@import "./variables.scss";
@import url("https://use.typekit.net/ytz8yoi.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $primary;
}
